{% extends "../../__layouts/mailing/layout__blank.twig" %}
{% set title = "Test EMAIL template" %}

{% block page %}


<table class="cont-1">
   <tr>
      <td class="cont-1__text inl">Бросок на последней секунде матча НБА принес игроку БЕТСИТИ 3.6 млн рублей! Рассказываем, как собрать невероятную историю успеха нашего беттора. Подробнее – читайте на сайте! </td>
   </tr>
   <tr>
      <td class="cont-1__button inl"><a href="https://betcity.ru/ru/news/company/9108-brosok-na-posledney-sekunde-matcha-nba-prines-igroku-betsiti-36-mln-rubley"><img src="https://bboxpro.ru/betcity/18122023/img/btn_2.png" width="250" alt="Подробнее"></a></td>
   </tr>
</table>

{% endblock %}


