{% extends "../../__layouts/mailing/layout__standard.twig" %} 
{% set title =
"__TEMPLATE_allsports" %} 

{# =================================================================== #}
{# =================================================================== #}
{# =================================================================== #}
{# ВАЖНО! Убедиться, что в MSO блоках нет пробелов! #}
{# =================================================================== #}
{# =================================================================== #}
{# =================================================================== #}
{% block mso10_start %}
  <!-- [if gte mso 10]><table align="center" width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td width="50%"><![endif] -->
{% endblock %}
{% block mso10_middle %}
  <!-- [if gte mso 10]></td><td width="50%"><![endif] -->
{% endblock %}
{% block mso10_end %}
  <!-- [if gte mso 10]></td></tr></table><![endif] -->
{% endblock %}
{% block page %}


<table class="b-preheader">
   <tr>
      <td><a href="https://betcity.ru/"><img src="https://bboxpro.ru/betcity/18122023/img/image_0.png" width="580" height="50" alt="Betcity.ru"></a></td>
   </tr>
</table>
{% include '../../__layouts/mailing/layout_sections/header.twig' %}
<table class="didgest-announce i-blue">
   <tr>
      <td class="didgest-announce__pic inl">
         <a
            href="https://betcity.ru/ru/news/company/9108-brosok-na-posledney-sekunde-matcha-nba-prines-igroku-betsiti-36-mln-rubley"
            ><a href=""
            ><img
            src="https://bboxpro.ru/betcity/18122023/img/image_1.png"
            alt=""
            width="580"
            height="382" /></a
            ></a>
      </td>
   </tr>
   <tr>
      <td class="didgest-announce__text inl">
         Бросок на последней секунде матча НБА принес игроку БЕТСИТИ <span class="nobr">3.6 млн</span>  рублей! Рассказываем, как собрать невероятную историю успеха нашего
         беттора. Подробнее – читайте на сайте!
      </td>
   </tr>
   <tr>
      <td class="didgest-announce__button inl">
         <a
            href="https://betcity.ru/ru/news/company/9108-brosok-na-posledney-sekunde-matcha-nba-prines-igroku-betsiti-36-mln-rubley"
            ><img
            src="https://bboxpro.ru/betcity/18122023/img/btn_2.png"
            class="maxw-250"
            width="250"
            height="57"
            alt="Подробнее"
            /></a>
      </td>
   </tr>
</table>

<table class="t-100 i-darkblue inl">
   <td>
      <td class="i-center pt-28 pb-32 inl">
         <a href="https://betcity.ru/ru/live"
            ><img
            src="https://bboxpro.ru/betcity/18122023/img/btn_1.png"
            width="250"
            height="55"
            class="maxw-250"
            alt=""
            /></a>
      </td>
   </td>
</table>
{% endblock %}