.kernel {
  width: 600px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
table td {
  font-family: Helvetica, Arial, sans-serif;
  border: 1px solid lime;
  font-size: 16px;
  line-height: 24px;
}

img {
  max-width: 100%;
  font-size: 0;
  display: block;
  height: auto;
}

.test td {
  padding-bottom: 24px;
}
.test tr:first-child td {
  text-align: right;
  background-color: azure;
}