@import "mixins";

a.link {
    @include noline;
    color: #00a9e0;
}

a.gray,
a.grey {
    color: #888888;
}

a.black {
    color: #000000;
}
.noline {
    @include noline;
}

.underline {
    @include underline;
}

a.fff,
a.white {
    color: #ffffff;
}
