@import "mixins";
/////////////////////////////////////////////////////////////
//  Reset HTML/BODY
/////////////////////////////////////////////////////////////
html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    width: 100%;
}

.kernel {
    width: 600px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.test {
    td {
        @include ff_main;
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 24px;

        img {
            @include respimg;
        }

        @media (max-width: 768px) {
            background-color: gold !important;
        }

        @media (max-width: 1024px) {
            background-color: chartreuse !important;
        }
    }
    tr:first-child {
        td {
            text-align: right;
            background-color: azure;
        }
    }
}
