//////////////////////////////////////////////////////////////////////////////
/// Global footer variables
//////////////////////////////////////////////////////////////////////////////
$iconed_block_width: 250px;

@mixin footer_iconed_block_vertical_paddings {
    padding-top: 8px;
    padding-bottom: 16px;
    // border: 1px solid gold;
}

//////////////////////////////////////////////////////////////////////////////
//
//////////////////////////////////////////////////////////////////////////////
.b-footer {
    width: 100%;

    &__wrapper {
        // padding-left: 16px;
        // padding-right: 16px;
        background-color: #062b75;
        color: #fff;
    }
}
//////////////////////////////////////////////////////////////////////////////
/// Иконки приложений
//////////////////////////////////////////////////////////////////////////////
///
.footer-apps {
    width: 100%;
    $spad: 4px;
    $coefficient: 5;
    $item_width: calc(($gross_width - $spad * $coefficient * 2) / 2);
    //

    &__padder {
        padding-left: calc($spad * $coefficient);
        padding-right: calc($spad * $coefficient);
        padding-top: 12px;
        padding-bottom: 24px;
        text-align: center;
        font-size: 0;
    }

    &__half {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        width: $item_width;

        table {
            width: $item_width;
            display: inline-table;

            td {
                font-size: 0;
                padding-left: $spad;
                padding-right: $spad;
                padding-top: $spad;
                padding-bottom: $spad;
            }

            img {
                @include respimg;
                display: block;
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////
/// Контакты
//////////////////////////////////////////////////////////////////////////////
///
///

.footer-contacts {
    width: 100%;

    &__wrapper {
        font-size: 0;
        text-align: center;
    }
}

.contact-inliner {
    display: inline-block;
    width: $iconed_block_width;
    vertical-align: top;
}

.footer-contact {
    width: $iconed_block_width;
    display: inline-table;

    td {
        @include footer_iconed_block_vertical_paddings;
    }

    &__pic {
        width: 40px;

        img {
            display: block;
            width: 40px;
            height: 40px;
        }
    }

    &__text {
        @include ff_main;
        text-decoration: none;
        color: #fdfdfd;
        white-space: nowrap;
        padding-left: 16px;

        a {
            color: #fdfdfd;
            font-size: 19.5px;
        }

        span {
            font-size: 11.3px;
            font-weight: normal;
            color: #0092f3;
            white-space: nowrap;
        }
    }
}

//////////////////////////////////////////////////////////////////////////////
/// Социальные иконки
//////////////////////////////////////////////////////////////////////////////
///
.footer-socials {
    width: 100%;

    &__td {
        text-align: center;
        vertical-align: top;
    }
}

.footer-si {
    width: $iconed_block_width;
    text-align: center;

    td {
        @include footer_iconed_block_vertical_paddings;
    }

    &__pic {
        width: 40px;

        img {
            display: block;
            width: 40px;
            height: 40px;
        }
    }

    &__text {
        @include ff_main;
        vertical-align: middle;
        color: #fdfdfd;
        font-size: 19.5px;
        white-space: nowrap;
        padding-left: 16px;

        a {
            color: #fdfdfd;
        }
    }
}

//////////////////////////////////////////////////////////////////////////////
/// Блок со служебной инфой
//////////////////////////////////////////////////////////////////////////////
///
.footer-small {
    width: 100%;

    td {
        @include ff_main;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 24px;
        padding-right: 24px;
        background-color: #062b75;
        color: #fff;
        font-size: 12px;

        a {
            color: #ffffff;
        }
    }
}
