.b-footer {
    width: 100%;

    &__wrapper {
        // padding-left: 16px;
        // padding-right: 16px;
        background-color: #062b75;
        color: #fff;
    }
}
//////////////////////////////////////////////////////////////////////////////
/// Иконки приложений
//////////////////////////////////////////////////////////////////////////////
///
.footer-apps-holder {
    width: 100%;

    &__padder {
        padding-left: 8px;
        padding-right: 8px;
        text-align: center;
        font-size: 0;
    }
}

.footer-app {
    display: inline-table;
    // text-align: left;
    // width: 50%;
    // background-color: red;
    $spad: 4px;
    width: 282px;

    td {
        font-size: 0;
        padding-left: $spad;
        padding-right: $spad;
        padding-top: $spad;
        padding-bottom: $spad;
    }

    img {
        @include respimg;
        display: block;
    }
}

//////////////////////////////////////////////////////////////////////////////
/// Контакты
//////////////////////////////////////////////////////////////////////////////
///
.footer-contacts {
    width: 100%;

    &__wrapper {
        font-size: 0;
        text-align: center;
    }
}
.contact-inliner {
    // width: 50%;
    display: inline-block;
    // min-width: 222px;
    width: 250px;
    vertical-align: top;
    // padding: 0 15px;
}

.footer-contact {
    width: 100%;

    td {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    &__pic {
        width: 40px;

        img {
            display: block;
            width: 40px;
            height: 40px;
        }
    }

    &__text {
        @include ff_main;
        text-decoration: none;
        color: #fdfdfd;
        white-space: nowrap;
        padding-left: 16px;

        a {
            color: #fdfdfd;
            font-size: 19.5px;
        }

        span {
            font-size: 11.3px;
            font-weight: normal;
            color: #0092f3;
            white-space: nowrap;
        }
    }
}

//////////////////////////////////////////////////////////////////////////////
/// Социальные иконки
//////////////////////////////////////////////////////////////////////////////
///
.footer-socials {
    width: 100%;

    &__td {
        text-align: center;
        vertical-align: top;
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

.footer-si {
    width: 250px;
    text-align: center;

    &__pic {
        width: 40px;

        img {
            display: block;
            width: 40px;
            height: 40px;
        }
    }

    &__text {
        @include ff_main;
        vertical-align: middle;
        color: #fdfdfd;
        font-size: 19.5px;
        white-space: nowrap;
        padding-left: 16px;

        a {
            color: #fdfdfd;
        }
    }
}

//////////////////////////////////////////////////////////////////////////////
/// Блок со служебной инфой
//////////////////////////////////////////////////////////////////////////////
///
.footer-small {
    width: 100%;

    td {
        @include ff_main;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 24px;
        padding-right: 24px;
        background-color: #062b75;
        color: #fff;
        font-size: 12px;

        a {
            color: #ffffff;
        }
    }
}
