<table class="b-footer inl">
	<tr>
		<td
			class="b-footer__wrapper inl">

			{# приложения #}

			<table class="footer-apps-holder">
				<tr>
					<td class="footer-apps-holder__padder">

						<table class="footer-app">
							<tr>
								<td>
									<a href=""><img src="https://bboxpro.ru/betcity/15092023/img/image_12.png" alt=""></a>
								</td>
								<td>
									<a href=""><img src="https://bboxpro.ru/betcity/15092023/img/image_18.png" alt=""></a>
								</td>
							</tr>
						</table>
						<table class="footer-app">
							<tr>
								<td>
									<a href=""><img src="https://bboxpro.ru/betcity/15092023/img/image_19.png" alt=""></a>
								</td>
								<td>
									<a href=""><img src="https://bboxpro.ru/betcity/15092023/img/image_20.png" alt=""></a>
								</td>
							</tr>
						</table>

					</td>
				</tr>
			</table>

			{# контакты #}

			<table class="footer-contacts">
				<tr>
					<td class="footer-contacts__wrapper">
						<div class="contact-inliner">
							<table class="footer-contact">
								<tr>
									<td class="footer-contact__pic">
										<a href="tel:88001007475"><img src="https://bboxpro.ru/betcity/15092023/img/image_16.png" alt="" width="40" height="40"></a>
									</td>
									<td class="footer-contact__text">
										<a href="tel:88001007475" class="noline">8(800)100-74-75</a><br><span>Звонок из РФ бесплатный</span>
									</td>
								</tr>
							</table>
						</div>
						<div class="contact-inliner">
							<table class="footer-contact">
								<tr>
									<td class="footer-contact__pic">
										<a href="mailto:support@betcity.ru"><img src="https://bboxpro.ru/betcity/15092023/img/image_17.png" alt="" width="40" height="40"></a>
									</td>
									<td class="footer-contact__text">
										<a href="mailto:support@betcity.ru" class="noline">support@betcity.ru</a>
									</td>
								</tr>
							</table>
						</div>

					</td>
				</tr>
			</table>


			{# социальные иконки #}

			<table class="footer-socials">
				<tr>
					<td class="footer-socials__td inl">
						<table class="footer-si">
							<tr>
								<td class="footer-si__pic inl">
									<a href="https://t.me/betcity"><img src="https://bboxpro.ru/betcity/15092023/img/image_14.png" alt="" width="40" height="40"></a>
								</td>
								<td class="footer-si__text inl">
									<a href="https://t.me/betcity" class="noline">Фрибеты и хайлайты</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td class="footer-socials__td inl">
						<table class="footer-si">
							<tr>
								<td class="footer-si__pic inl">
									<a href="https://vk.com/betcity"><img src="https://bboxpro.ru/betcity/15092023/img/image_15_1.png" alt="" width="40" height="40"></a>
								</td>
								<td class="footer-si__text inl">
									<a href="https://vk.com/betcity" class="noline">Конкурсы и мемы</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>

			{# служебная инфа #}

			<table class="footer-small">
				<tr>
					<td>
						* Коэффициенты действительны на момент отправки письма.<br><br>
						Вы получили это письмо, потому что подписаны на рассылки от БЕТСИТИ.
						<br>Отписаться от рассылки можно
						<a href="{{UnsubscribeUrl}}" class="underline">здесь</td>
					</td>
				</tr>
			</table>

			{# ==================================================================== end b-footer__wrapper #}
		</td>
	</tr>
</table>
