<table class="b-footer inl">
	<tr>
		<td
			class="b-footer__wrapper inl">

			{# социальные иконки #}

			<table class="footer-socials">
				<tr>
					<td class="footer-socials__td inl">
						<table class="footer-si">
							<tr>
								<td class="footer-si__pic inl">
									<a href="https://t.me/betcity"><img src="https://bboxpro.ru/betcity/15092023/img/image_14.png" alt="" width="40" height="40"></a>
								</td>
								<td class="footer-si__text inl">
									<a href="https://t.me/betcity" class="noline">Фрибеты и хайлайты</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td class="footer-socials__td inl">
						<table class="footer-si">
							<tr>
								<td class="footer-si__pic inl">
									<a href="https://vk.com/betcity"><img src="https://bboxpro.ru/betcity/15092023/img/image_15_1.png" alt="" width="40" height="40"></a>
								</td>
								<td class="footer-si__text inl">
									<a href="https://vk.com/betcity" class="noline">Конкурсы и мемы</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>

			{# служебная инфа #}

			<table class="footer-small">
				<tr>
					<td>
						* Коэффициенты действительны на момент отправки письма.<br><br>
						Вы получили это письмо, потому что подписаны на рассылки от БЕТСИТИ.
						<br>Отписаться от рассылки можно
						<a href="{{UnsubscribeUrl}}" class="underline">здесь</td>
					</td>
				</tr>
			</table>

			{# ==================================================================== end b-footer__wrapper #}
		</td>
	</tr>
</table>
