<!--[if gte mso 10]>
<table align="center" class="footer" width="600">
   <tr>
      <td>
         <![endif]-->
         <table class="allsports-footer inl">
            <tbody>
               <tr>
                  <td
                     align="center">
                     <!--[if gte mso 10]>
                     <table align="center"  class="footer" width="600">
                        <tr>
                           <td>
                              <![endif]-->
                              <table width="600" style="width: 100%; max-width: 600px;">
                                 <tbody>
                                    <tr>
                                       <td class="footer" valign="middle" height="40" align="center" style="padding-left: 20px; padding-right: 20px;">
                                          <table width="100%">
                                             <tbody>
                                                <tr>
                                                   <td align="center">
                                                      <table width="100%">
                                                         <tbody>
                                                            <tr>
                                                               <td class="zzzqqq">
                                                                  <!--[if (gte mso 9)|(IE)]>
                                                                  <table width="100%">
                                                                     <tr>
                                                                        <td valign="middle" width="49%" align="center">
                                                                           <![endif]-->
                                                                           <div class="stores-inline">
                                                                              <table class="fc-group">
                                                                                 <tbody>
                                                                                    <tr>
                                                                                       <td align="center" class="fc-group__cell">
                                                                                          <table width="100%">
                                                                                             <tbody>
                                                                                                <tr>
                                                                                                   <!--[if (gte mso 9)|(IE)]>
                                                                                                   <td valign="middle" width="25%" align="center">
                                                                                                      <![endif]-->
                                                                                                   <td>
                                                                                                      <a href="https://betcity.onelink.me/bthX?af_xp=custom&amp;pid=footer&amp;c=App%20for%20android%20futer&amp;af_dp=betcitysc1%3A%2F%2F"><img class="g-img" src="https://bboxpro.ru/betcity/15092023/img/image_12.png" width="130" alt="" style="display: block; width: 100%; max-width: 145px;  height: auto;"></a>
                                                                                                   </td>
                                                                                                   <!--[if (gte mso 9)|(IE)]></td>
                                                                                                   <td valign="middle" width="25%" align="center">
                                                                                                      <![endif]-->
                                                                                                   <td>
                                                                                                      <a href="https://betcity.onelink.me/ZLcg/nk2wyesm"><img class="g-img" src="https://bboxpro.ru/betcity/15092023/img/image_18.png" width="130" alt="" style="display: block; width: 100%; max-width: 145px;  height: auto;"></a>
                                                                                                   </td>
                                                                                                   <!--[if (gte mso 9)|(IE)]></td><![endif]-->
                                                                                                </tr>
                                                                                             </tbody>
                                                                                          </table>
                                                                                          <!-- <table width="100%">
                                                                                             <tbody>
                                                                                                <tr>
                                                                                                   <td valign="top" align="center" style="padding-bottom: 10px; padding-top: 5px;">
                                                                                                      WAS HERE
                                                                                                   </td>
                                                                                                </tr>
                                                                                             </tbody>
                                                                                             </table> -->
                                                                                       </td>
                                                                                    </tr>
                                                                                 </tbody>
                                                                              </table>
                                                                           </div>
                                                                           <!--[if (gte mso 9)|(IE)]>
                                                                        </td>
                                                                        <td valign="middle" width="49%" align="center">
                                                                           <![endif]-->
                                                                           <div class="stores-inline">
                                                                              <table class="fc-group">
                                                                                 <tbody>
                                                                                    <tr>
                                                                                       <td align="center" class="fc-group__cell">
                                                                                          <table width="100%">
                                                                                             <tbody>
                                                                                                <tr>
                                                                                                   <!--[if (gte mso 9)|(IE)]>
                                                                                                   <td valign="middle" width="25%" align="center">
                                                                                                      <![endif]-->
                                                                                                   <td >
                                                                                                      <a href="https://betcity.onelink.me/ZLcg/nk2wyesm?af_android_url=https://store.nashstore.ru/store/6297394a0a39b2e0678ca8c3"><img class="g-img" src="https://bboxpro.ru/betcity/15092023/img/image_19.png" width="130" alt="" style="display: block; width: 100%; max-width: 130px;  height: auto;"></a>
                                                                                                   </td>
                                                                                                   <!--[if (gte mso 9)|(IE)]></td>
                                                                                                   <td valign="middle" width="25%" align="center">
                                                                                                      <![endif]-->
                                                                                                   <td >
                                                                                                      <a href="https://betcity.onelink.me/ZLcg/nk2wyesm?af_android_url=https://apps.rustore.ru/app/ru.betcity.android"><img class="g-img" src="https://bboxpro.ru/betcity/15092023/img/image_20.png" width="130" alt="" style="display: block; width: 100%; max-width: 130px;  height: auto;"></a>
                                                                                                   </td>
                                                                                                   <!--[if (gte mso 9)|(IE)]></td><![endif]-->
                                                                                                </tr>
                                                                                             </tbody>
                                                                                          </table>
                                                                                       </td>
                                                                                    </tr>
                                                                                 </tbody>
                                                                              </table>
                                                                           </div>
                                                                           <!--[if (gte mso 9)|(IE)]>
                                                                        </td>
                                                                     </tr>
                                                                  </table>
                                                                  <![endif]-->
                                                               </td>
                                                            </tr>
                                                         </tbody>
                                                      </table>
                                                   </td>
                                                </tr>
                                                <tr>
                                                   <td class="footer-contacts">
                                                      <!--[if (gte mso 9)|(IE)]>
                                                      <table width="100%">
                                                         <tr>
                                                            <td valign="middle" width="100%" align="center">
                                                               <![endif]-->
                                                               <div class="contacts-inliner">
                                                                  <table width="100%">
                                                                     <tbody>
                                                                        <tr>
                                                                           <td align="left">
                                                                              <table width="100%">
                                                                                 <tbody>
                                                                                    <tr>
                                                                                       <td valign="top" align="left" style="padding-bottom: 10px; padding-top: 10px;">
                                                                                          <table width="100%" class="footer-contact">
                                                                                             <tbody>
                                                                                                <tr>
                                                                                                   <td class="footer-contact__img">
                                                                                                      <img src="https://bboxpro.ru/betcity/15092023/img/image_16.png" width="40" height="40">
                                                                                                   </td>
                                                                                                   <td class="footer-contact__text">
                                                                                                      <a href="tel:8(800)100-74-75" class="noline">
                                                                                                      8(800)100-74-75
                                                                                                      </a>
                                                                                                      <br>
                                                                                                      <span>
                                                                                                      Звонок из РФ бесплатный
                                                                                                      </span>
                                                                                                   </td>
                                                                                                </tr>
                                                                                             </tbody>
                                                                                          </table>
                                                                                       </td>
                                                                                    </tr>
                                                                                 </tbody>
                                                                              </table>
                                                                           </td>
                                                                        </tr>
                                                                     </tbody>
                                                                  </table>
                                                               </div>
                                                               <!--[if (gte mso 9)|(IE)]>
                                                            </td>
                                                            <td valign="middle" width="100%" align="center">
                                                               <![endif]-->
                                                               <div class="contacts-inliner">
                                                                  <table width="100%">
                                                                     <tbody>
                                                                        <tr>
                                                                           <td align="left">
                                                                              <table width="100%">
                                                                                 <tbody>
                                                                                    <tr>
                                                                                       <td valign="top" align="left" style="padding-bottom: 10px; padding-top: 10px;">
                                                                                          <table width="100%" class="footer-contact">
                                                                                             <tbody>
                                                                                                <tr>
                                                                                                   <td class="footer-contact__img">
                                                                                                      <img src="https://bboxpro.ru/betcity/15092023/img/image_17.png" width="40" height="40">
                                                                                                   </td>
                                                                                                   <td class="footer-contact__text">
                                                                                                      <a href="mailto:support@betcity.ru" class="noline">support@betcity.ru</a>
                                                                                                   </td>
                                                                                                </tr>
                                                                                             </tbody>
                                                                                          </table>
                                                                                       </td>
                                                                                    </tr>
                                                                                 </tbody>
                                                                              </table>
                                                                           </td>
                                                                        </tr>
                                                                     </tbody>
                                                                  </table>
                                                               </div>
                                                               <!--[if (gte mso 9)|(IE)]>
                                                            </td>
                                                         </tr>
                                                      </table>
                                                      <![endif]-->
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="footer-socials">
                                          <table class="footer-social">
                                             <tr>
                                                <td class="footer-social__img"><a href="https://t.me/betcity"><img src="https://bboxpro.ru/betcity/15092023/img/image_14.png" width="40" height="40" alt="Фрибеты и хайлайты"></a></td>
                                                <td class="footer-social__text"><a href="https://t.me/betcity" class="noline">Фрибеты и хайлайты</a></td>
                                             </tr>
                                          </table>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="footer-socials">
                                          <table class="footer-social">
                                             <tr>
                                                <td class="footer-social__img"><a href="https://vk.com/betcity"><img src="https://bboxpro.ru/betcity/15092023/img/image_15_1.png" width="40" width="40" alt="Конкурсы и мемы"></a></td>
                                                <td class="footer-social__text"><a href="https://vk.com/betcity" class="noline">Конкурсы и мемы</a></td>
                                             </tr>
                                          </table>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="footer-small">
                                          * Коэффициенты действительны на момент отправки письма.<br><br>
                                          Вы получили это письмо, потому что подписаны на рассылки от БЕТСИТИ.
                                          <br>Отписаться от рассылки можно
                                          <a href="{{UnsubscribeUrl}}" class="underline">здесь</a>.
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                              <!--[if gte mso 10]>
                           </td>
                        </tr>
                     </table>
                     <![endif]-->
                  </td>
               </tr>
            </tbody>
         </table>
         <!--[if gte mso 10]>
      </td>
   </tr>
</table>
<![endif]-->