<table class="b-header">
   <tr>
      <td >
         <a href="https://betcity.ru/ru/line" class="noline">Линия</a>
      </td>
      <td >
         <a href="https://betcity.ru/ru/live" class="noline">Live</a>
      </td>
      <td>
         <a href="https://betcity.ru/ru/live-soon?tv=1" class="noline">Трансляции</a>
      </td>
      <td>
         <a href="https://betcity.ru/ru/bonuses" class="noline">Акции</a>
      </td>
   </tr>
</table>